<!DOCTYPE html>
<html lang="en">

<head>
    <title>Site anti-précarité étudiante</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                    navigation</span>
            </button> <a class="navbar-brand" href="#">Site anti-précarité étudiante</a>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Accueil</a>
                    </li>
                    <li class="active nav-item">
                        <a href="/drawer" class="nav-link">Tiroirs</a>
                    </li>
                    <li class="nav-item">
                        <a href="/mailbox" class="nav-link">Boîte aux lettres</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <button type="button" class="btn btn-warning" onclick="openDrawer(1)"><b>Premier Tiroir</b></button>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-warning" onclick="openDrawer(2)"><b>Deuxième Tiroir</b></button>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-warning" onclick="openDrawer(3)"><b>Troisième Tiroir</b></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p style="margin-top: 20px;" class="hint" id="drawer1"></p>
            </div>
            <div class="col-lg-4">
                <p style="margin-top: 20px;" class="hint" id="drawer2"></p>
            </div>
            <div class="col-lg-4">
                <p style="margin-top: 20px;" class="hint" id="drawer3"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <button type="button" class="btn btn-warning" onclick="openDrawer(4)"><b>Quatrième Tiroir</b></button>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-warning" onclick="openDrawer(5)"><b>Cinquième Tiroir</b></button>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-warning" onclick="openDrawer(6)"><b>Sixième Tiroir</b></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p style="margin-top: 20px;" class="hint" id="drawer4"></p>
            </div>
            <div class="col-lg-4">
                <p style="margin-top: 20px;" class="hint" id="drawer5"></p>
            </div>
            <div class="col-lg-4">
                <p style="margin-top: 20px;" class="hint" id="drawer6"></p>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    function openDrawer(num) {

        let content = document.getElementById("drawer" + num).textContent;
        if (content === "") {
            if (num === 1) content = "Ce tiroir contient un bouton de chemise";
            if (num === 2) content = "Ce tiroir contient vos économies restantes...";
            if (num === 3) content = "Ce tiroir contient un bonnet";
            if (num === 4) content = "Ce tiroir contient trois paquets de pâtes";
            if (num === 5) content = "Ce tiroir contient votre diplôme du baccalauréat";
            if (num === 6) content = "Ce tiroir contient un placard à tiroir";
        } else content = "";
        document.getElementById("drawer" + num).textContent = content;
    }
</script>