<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <<<<<<< HEAD <title>Site anti-précarité étudiante</title>
        =======
        <title>Unity WebGL Player | EscapeGame</title>
        >>>>>>> 4219341dab3922701d9d5d6dac11ac61505187a8
        <link rel="shortcut icon" href="TemplateData/favicon.ico">
        <link rel="stylesheet" href="TemplateData/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Livvic:400,700" rel="stylesheet" type="text/css">
        <script src="TemplateData/UnityProgress.js"></script>
        <script src="Build/UnityLoader.js"></script>
        <script>
            var gameInstance = UnityLoader.instantiate("gameContainer", "Build/build.json", {
                onProgress: UnityProgress
            });
        </script>
</head>


<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                    navigation</span>
            </button> <a class="navbar-brand" href="#">Site anti-précarité étudiante</a>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="/drawer" class="nav-link">Tiroirs</a>
                    </li>
                    <li class="nav-item">
                        <a href="/mailbox" class="nav-link">Boîte aux lettres</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="webgl-content">
        <div id="gameContainer" style="width: 960px; height: 600px"></div>
        <div class="footer">
            <div class="webgl-logo"></div>
            <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
            <div class="title">EscapeGame</div>
        </div>
    </div>
</body>

</html>