<!DOCTYPE html>
<html lang="en">

<head>
    <title>Site anti-précarité étudiante</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                    navigation</span>
            </button> <a class="navbar-brand" href="#">Site anti-précarité étudiante</a>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item">
                        <a href="/" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="/drawer" class="nav-link">Tiroirs</a>
                    </li>
                    <li class="nav-item">
                        <a href="/mailbox" class="nav-link">Boîte aux lettres</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container ">
        <div class="row ">
            <div class="col-lg-12">
                <p style="margin-top: 20px; ">
                    <h3 style="margin-bottom: 20px; ">Bonjour, jeune étudiant(e)</h3>
                    Voici quelques liens qui pourraient t'être utiles :
                    <ul style="margin-top: 20px; ">
                        <li>Site du CROUS : <a href="https://www.etudiant.gouv.fr/pid33797/cnous-crous.html ">clique
                                ici</a></li>
                        <li>Annuaire du BAPU : <a href="https://annuaire.action-sociale.org/etablissements/jeunes-handicapes/bureau-d-aide-psychologique-universitaire--b-a-p-u---221.html ">clique
                                ici</a></li>
                        <li>Informations sur les APL : <a href="https://www.service-public.fr/particuliers/vosdroits/F12006 ">clique ici</a></li>
                        <li>Un autre sigle : <a href="https://fr.wikipedia.org/wiki/Hypertext_Markup_Language">clique ici</a></li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid ">
            <h1 class="display-5 ">Viens favoriser la transmission pair-à-pair !</h1>
            <p class="lead ">Tu as envie de faire de nouvelles rencontres, et de discuter avec des personnes plus expérimentées qui t'aideront à affronter les problèmes de ta vie étudiante ?</p>
            <hr class="my-4 ">
            <p>
                Si oui, clique sur le bouton ci-dessous, et découvre un outil formidable pour communiquer et réduire la distance sociale.
            </p>
            <a class="btn btn-primary btn-lg " href="https://www.facebook.com/ " role="button ">Favoriser la
                transmission</a>
        </div>

        <div class="row justify-content-end ">
            <div class="col-lg-2 ">
                <a href="/house ">
                    <img src="closed_door.png " class="door-img" alt="Door " />
                </a>
            </div>
        </div>
    </div>
</body>

</html>