<!DOCTYPE html>
<html lang="en">

<head>
    <title>Site anti-précarité étudiante</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                    navigation</span>
            </button> <a class="navbar-brand" href="#">Site anti-précarité étudiante</a>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="/drawer" class="nav-link">Tiroirs</a>
                    </li>
                    <li class="active nav-item">
                        <a href="/mailbox" class="nav-link">Boîte aux lettres</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <button onclick="displayEnvelope()" class="btn-warning"><b>Ouvrir la boîte aux lettres</b></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <button onclick="displayHint(1)" class="btn btn-link" id="envelope1" hidden=true>
                    <img src="envelope.png " class="envelope-img" alt="Envelope" />
                </button>
            </div>
            <div class="col-lg-3">
                <button onclick="displayHint(2)" class="btn btn-link" id="envelope2" hidden=true>
                        <img src="envelope.png " class="envelope-img" alt="Envelope" />
                    </button>
            </div>
            <div class="col-lg-3">
                <button onclick="displayHint(3)" class="btn btn-link" id="envelope3" hidden=true>
                            <img src="envelope.png " class="envelope-img" alt="Envelope" />
                        </button>
            </div>
            <div class="col-lg-3">
                <button onclick="displayHint(4)" class="btn btn-link" id="envelope4" hidden=true>
                                <img src="envelope.png " class="envelope-img" alt="Envelope" />
                            </button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <p style="margin-top: 20px; " class="hint" id="hint1" hidden=true>-</p>
            </div>
            <div class="col-lg-3">
                <p style="margin-top: 20px; " class="hint" id="hint2" hidden=true>-</p>
            </div>
            <div class="col-lg-3">
                <p style="margin-top: 20px; " class="hint" id="hint3" hidden=true>-</p>
            </div>
            <div class="col-lg-3">
                <p style="margin-top: 20px; " class="hint" id="hint4" hidden=true>-</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <button onclick="displayHint(5)" class="btn btn-link" id="envelope5" hidden=true>
                        <img src="envelope.png " class="envelope-img" alt="Envelope" />
                    </button>
            </div>
            <div class="col-lg-3">
                <button onclick="displayHint(6)" class="btn btn-link" id="envelope6" hidden=true>
                            <img src="envelope.png " class="envelope-img" alt="Envelope" />
                        </button>
            </div>
            <div class="col-lg-3">
                <button onclick="displayHint(7)" class="btn btn-link" id="envelope7" hidden=true>
                                <img src="envelope.png " class="envelope-img" alt="Envelope" />
                            </button>
            </div>
            <div class="col-lg-3">
                <button onclick="displayHint(8)" class="btn btn-link" id="envelope8" hidden=true>
                                    <img src="envelope.png " class="envelope-img" alt="Envelope" />
                                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <p style="margin-top: 20px; " class="hint" id="hint5" hidden=true>-</p>
            </div>
            <div class="col-lg-3">
                <p style="margin-top: 20px; " class="hint" id="hint6" hidden=true>-</p>
            </div>
            <div class="col-lg-3">
                <p style="margin-top: 20px; " class="hint" id="hint7" hidden=true>-</p>
            </div>
            <div class="col-lg-3">
                <p style="margin-top: 20px; " class="hint" id="hint8" hidden=true>-</p>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    let letterNum = 1;

    function displayEnvelope() {
        if (letterNum > 8) return;
        document.getElementById("envelope" + letterNum).hidden = false;
        ++letterNum;
    }

    function displayHint(num) {
        let content;
        if (num === 1) content = "Rends-toi sur la page d'accueil, et essaye d'y ouvrir la porte en bas à droite.";
        if (num === 2) content = "Le premier indice du code se trouve dans un tiroir du meuble télé.";
        if (num === 3) content = "Ouvre la grande armoire de la cuisine pour trouver le deuxième indice.";
        if (num === 4) content = "La troisième lettre du code se trouve dans un tiroir de la chambre.";
        if (num === 5) content = "Regarde par une des fenêtres du salon : le quatrième indice est à l'extérieur.";
        if (num === 6) content = "Le prochain indice est situé dans l'armoire de la chambre.";
        if (num === 7) content = "Sous l'évier de la salle de bain le dernier indice tu trouveras.";
        if (num === 8) content = "Va maintenant rentrer le code près de la porte d'entrée.";

        document.getElementById("hint" + num).textContent = content;
        document.getElementById("hint" + num).hidden = false;
    }
</script>